audio {
	position: fixed;
    bottom: 0;
	left: 0;
	width: 0%;
	border-radius: 0;
}

#queue-card {
	width: 40%;
	height: 100%;
	color: white;
	font-size: 25px;
	float: left;
	padding-top: 100px;
}

#queue-card ul {
	list-style-type: none; 
}

#queue-card ul li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#info-card {
	padding-top: 100px;
	width: 60%;
	height: 100%;
	margin-left: 40%;
}

#album-image {
	width: 400px;
	height: 400px;
	margin: auto;
	-webkit-box-shadow: 0px 21px 16px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 21px 16px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 21px 16px 0px rgba(0,0,0,0.75);
}

#album-image img {
	width: 100%;
	height: 100%;
}

#player-bar {
	width: 100%;
	height: 57px;
	position: fixed;
    bottom: 0;
	left: 0;
	background-color: #1c1e32;
	-webkit-box-shadow: 0px -5px 23px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -5px 23px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -5px 23px 0px rgba(0,0,0,0.75);
	color: lightgrey;
	text-align: left;
}

#player-bar p {
	width: 0%;
	font-size: 20px;
	display: inline;
	line-height: 57px;
	height: 57px;
	white-space: nowrap;
}

#player-bar #info {
	font-size: 17px;
}

#player-bar button {
	font-size: 25px;
	background-color: transparent;
	border: 0;
	transition-duration: 0.3s;
	padding: 0;
	padding-right: 10px;
}

#player-bar button:hover {
	color: #eb255d;
}

#progress-background {
	width: 100%;
	height: 5px;
	background-color: #46444470;
	position: absolute;
}

#progress-container {
	width: 100%;
	height: 10px;
	position: absolute;
	z-index: 1;
}

#progress-bar {
	height: 5px;
	background-color: #eb255d;
	position: absolute;
}

#player-bar-contents {
	width: 100%;
}

#player-bar-contents td{
	max-width: 33vw;
	width: 33vw;
	text-align: center;
}
