body {
	text-align: center;
	background-image: linear-gradient(to top right, #272626, #2f1d3a);
	width: 100vw;
	height: 100vh;
	font-family: 'Darker Grotesque', sans-serif;
	letter-spacing: 0.3em;;
}

.App {
	padding-top: 60px;
}

.App .left {
	float: left;
	width: 50%;
	display: inline-block;
}

.App .right {
	width: 50%;
	display: inline-block;
}

.screen-height {
	height: 100vh;
}

h1 {
	color: white;
	font-size: 50px;
}

#logo-container {
	margin-top: 15%;
}

.alert {
	color: red;
}

a {
	color: #eb255d;
}

span.orange {
	color: #eb255d;
}



#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1c1e32;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar li {
	float: left;
	width: 190px;
}

#navbar li a {
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.underline {
	width: 0;
	height: 2px;
	background-color: #eb255d;
	margin: auto;
	transition: 0.5s;
}

#navbar li:hover .underline {
	width: 80%;
}

#navbar li.active .underline {
	width: 80%;
}

input[type="text"] {
	width: 80%;
	margin: auto;
	position: relative;
	font-size: 40px;
	border-radius: 20px;
	outline: none;
	background-color: #8077772e;
	border: none;
	color: white;
	text-align: center;
	margin-top: 40px;
}

input[type="password"] {
	width: 80%;
	margin: auto;
	position: relative;
	font-size: 40px;
	border-radius: 20px;
	outline: none;
	background-color: #8077772e;
	border: none;
	color: white;
	text-align: center;
	margin-top: 40px;
}

input:focus {
    box-shadow: 0 0 0 2px #eb255d;
}
