body {
	text-align: center;
	background-image: linear-gradient(to top right, #272626, #2f1d3a);
	background-repeat: no-repeat;
    background-attachment: fixed;
	width: 100vw;
	height: 100vh;
	font-family: 'Darker Grotesque', sans-serif;
}

.App {
	padding-top: 60px;
	height: 100%;
}

.App .left {
	float: left;
	width: 50%;
	display: inline-block;
}

.App .right {
	width: 50%;
	display: inline-block;
}

.screen-height {
}

h1 {
	color: white;
	font-size: 50px;
}

#logo-container {
	margin-top: 15%;
}

.alert {
	color: red;
}

a {
	color: #eb255d;
}

span.orange {
	color: #eb255d;
}



#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1c1e32;
  position: fixed;
  top: 0;
  width: 100%;
  letter-spacing: 0.3em;;
  -webkit-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.75);
  z-index: 1;
  width: 100%;
}

#navbar-mobile {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1c1e32;
  position: fixed;
  top: 0;
  width: 100%;
  letter-spacing: 0.3em;;
  -webkit-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 23px 0px rgba(0,0,0,0.75);
  z-index: 1;
  width: 100%;
}

#navbar-mobile-collapsed {
	position: fixed;
	top: 0;
	background-color: #1c1e32;
	width: 100%;
	height: 57px;
	z-index: 1;
}

#burger {
	width: 50px;
	height: 50px;
	margin: 10px;
}

#burger div {
	width: 90%;
	height: 5px;
	background-color: white;
	margin-top: 10px;
	border-radius: 10px;
}

#navbar-mobile li:hover a {
  color: #eb255d;
}

#navbar li {
	float: left;
	width: 180px;
}

li a {
	display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.underline {
	width: 0;
	height: 2px;
	background-color: #eb255d;
	margin: auto;
	transition: 0.5s;
}

#navbar li:hover .underline {
	width: 80%;
}

#navbar li.active .underline {
	width: 80%;
}

input[type="text"] {
	width: 80%;
	margin: auto;
	position: relative;
	font-size: 40px;
	border-radius: 20px;
	outline: none;
	background-color: #8077772e;
	border: none;
	color: white;
	text-align: center;
	margin-top: 40px;
}

input[type="password"] {
	width: 80%;
	margin: auto;
	position: relative;
	font-size: 40px;
	border-radius: 20px;
	outline: none;
	background-color: #8077772e;
	border: none;
	color: white;
	text-align: center;
	margin-top: 40px;
}

input:focus {
    box-shadow: 0 0 0 2px #eb255d;
}

.form-card {
	width: 60%;
	height: 100%;
	background-color: #1c1e32;
	margin: auto;
	padding-top: 50px;
}

.form-card label {
	font-size: 40px;
	line-height: 0px;
}

.form-card button {
	width: 80%;
	margin: auto;
	height: 40px;
	border-radius: 30px;
}

input[type="file"] {
	font-size: 40px;
}

button {
	display: inline-block;
	border-radius: 20px;
	outline: none;
	background-color: rgba(65, 71, 99, 0.5);
	border-color: #252838;
	border-width: 2px;
	color: white;
}

#navbar li.float-right {
	float: right;
}
